# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# React Native
# Ignore Android Studio files
ios/
android/
.env


# VSCode 설정 파일
.vscode/
!.vscode/settings.json

# Google/Firebase 관련 민감 정보
GoogleService-Info.plist
google-services.json
firebase.json

# Expo 및 앱 설정 파일
app.json

# Supabase 설정 및 데이터
supabase/

# 기타 유틸/설정 파일 (필요시)
utils/setFirebaseListeners.ts
utils/setNotifeeListeners.ts
utils/setPushMessageHandlers.ts
utils/staticNavigation.ts